## LINKACE CONFIGURATION

## Basic app configuration

## The app key is generated later, please leave it like that
APP_KEY=someRandomStringWith32Characters

## Set the database driver (mysql, pgsql, sqlsrv, sqlite)
DB_CONNECTION=mysql

## Set the host of your database here
DB_HOST=localhost

## Set the port of your database here
DB_PORT=3306

## Set the database name here
DB_DATABASE=__DB_NAME__

## Set both username and password of the user accessing the database
DB_USERNAME=__DB_USER__

## Wrap your password into quotes (") if it contains special characters
DB_PASSWORD=__DB_PWD__


## Advanced app configuration

## Only relevant for URLs generated when using LinkAce CLI commands
APP_URL=http://__DOMAIN__

## The environment is usually 'production' but may be changed to 'local' for development
# APP_ENV=production

## Enable the debug more if you are running into issues or while developing
# APP_DEBUG=false

## Change the timezone of the core application here. It does not affect the timezone set in the user settings but changes how LinkAce saves dates and times in the database. Be very careful when using this setting as it can have unintended site effects! There won't be any support for broken applications due to a changed timezone.
APP_TIMEZONE=__TIMEZONE__

## Set the time after a session expires automatically, in minutes. Default is 7 days. You may also define a specific domain.
# SESSION_LIFETIME=10080

# SESSION_DOMAIN=

# SESSION_SECURE_COOKIE=[true/false]

## Configure the API rate limit here: the first number defines the number of requests, the second the time frame
## for the requests. 60,1 is the default which means: 60 requests per 1 minute
# API_RATE_LIMIT=60,1


## Mail configuration

MAIL_FROM_ADDRESS=noreply@__DOMAIN__

MAIL_FROM_NAME=__APP__

## Set the driver used for sending email here, default is `log`
MAIL_MAILER=smtp

## Set the SMTP host and its port here
MAIL_HOST=127.0.0.1
MAIL_PORT=25

## Set the username used to connect to the SMTP server here
MAIL_USERNAME=__APP__@__DOMAIN__

## Set the password used to connect to the SMTP server here
MAIL_PASSWORD=__MAIL_PWD__

## If your SMTP server uses encrypted connections, enable it here by setting the variable to `tls`
MAIL_ENCRYPTION=null

## If you want to use Sendmail, set the path here
# MAIL_SENDMAIL_PATH="/usr/sbin/sendmail -bs -i"

## If you are using self-signed certificates, add this setting to false to no verify SSL connections
# MAIL_VERIFY_TLS=false


## Advanced database configuration
## Some of these configuration options are only available for specific database systems

DB_CHARSET=utf8mb4

DB_COLLATION=utf8mb4_bin

# DB_ENGINE=InnoDB

# DB_SOCKET=

# DATABASE_URL="mysql://sandy:secret@192.168.10.10:3306/db"


## SSL settings for the database connections

# DB_SSL_MODE=prefer

# MYSQL_VERIFY_SERVER_CERT=true

# MYSQL_SSL_KEY=

# MYSQL_SSL_CERT=

# MYSQL_SSL_CA=


## Meta generation
## Configure how LinkAce should handle HTTP requests when fetching the meta data of websites when adding links.

## The user agent may be customized to enhance credibility.
# APP_USER_AGENT="LinkAce/1 (https://github.com/Kovah/LinkAce)"

## The timeout is 10 seconds by default. If you encounter failed meta generation more often, consider increasing this.
# META_GENERATION_TIMEOUT=20

## You also can add custom headers, for example to customize the Accept-Language header. Multiple headers must be separated by a pipe (|).
# META_GENERATION_CUSTOM_HEADERS="Accept-Language=fr-CH,fr;q=0.9,en|referer=https://example.com"


## Backup configuration

# BACKUP_ENABLED=false

## Choose the destination of the backup. If you set up AWS S3 credentials below you may choose 'cloud' which is used
## as a synonym for AWS. Leave blank or set to 'local_backups' if you want to store backups within /storage/app/backups.
# BACKUP_DISK=s3

## You may disable notifications for backups. Not recommended, as possible issues may not be reported.
# BACKUP_NOTIFICATIONS_ENABLED=[true/false]

## The notification email may be used to get backup notifications, Mail must be configured for this to work!
# BACKUP_NOTIFICATION_EMAIL=your@email.com

## Maximum size of the backups in megabytes
# BACKUP_MAX_SIZE=512

## Backup tasks are run nightly every day. You can change the hour of the executions here
# BACKUP_CLEAN_HOUR="01:00"
# BACKUP_RUN_HOUR="02:00"


## Amazon Web Services (AWS) S3 configuration
## Define the key ID, the access key, the region and your bucket name here if you want to use AWS S3 for backups.

# AWS_ACCESS_KEY_ID=

# AWS_SECRET_ACCESS_KEY=

# AWS_DEFAULT_REGION=us-east-1

# AWS_BUCKET=

# Advanced S3 settings, only use them if you know what you are doing

# AWS_SCHEME=https

# AWS_BUCKET_ENDPOINT=[true/false]

# AWS_PATH_STYLE_ENDPOINT=[true/false]

# AWS_ACCELERATE_ENDPOINT=[true/false]

# AWS_FIPS_ENDPOINT=[true/false]

# AWS_DUAL_STACK_ENDPOINT=[true/false]


## Redis cache configuration

REDIS_HOST=127.0.0.1

REDIS_PASSWORD=null

REDIS_PORT=6379

REDIS_DB=__REDIS_DB__


## Memcache cache configuration

# MEMCACHED_PERSISTENT_ID=

# MEMCACHED_USERNAME=

# MEMCACHED_PASSWORD=

# MEMCACHED_HOST=127.0.0.1

# MEMCACHED_PORT=11211


## You can completely disable all audit logs for LinkAce with this option
# AUDITING_ENABLED=[true/false]

## Set some trusted proxies if you want to enhance the security of LinkAce when it's running behind a proxy.
# TRUSTED_PROXIES=*

## Configure LinkAce to report errors to Sentry.io
# SENTRY_LARAVEL_DSN=
# SENTRY_TRACES_SAMPLE_RATE=0.0


## You probably do not want to change any values below. Only continue if you know what you are doing.

## If you are using Redis, you may switch SESSION_DRIVER and CACHE_DRIVER to "redis" or "memcache" to improve performance.

SESSION_DRIVER=redis

# LOG_CHANNEL=stack

# BROADCAST_DRIVER=log

CACHE_DRIVER=redis

# QUEUE_DRIVER=database


## Using Redis sockets
## If you want to use Redis via a Unix socket, you can remove the hash before the following lines, but remove one before
## the "CACHE_DRIVER" line above. Also, set a proper path to your Redis socket.

# CACHE_DRIVER=redis-socket

# SESSION_CONNECTION=redis-socket

# REDIS_SCHEME=unix

# REDIS_PATH=/path/to/redis.sock


## OIDC Settings:
## Callback: https://__DOMAIN__/auth/sso/[PROVIDER]/callback
## Base URL must be set to the OpenID Configuration URL, excluding .well-known/openid-configuration part.
## eg: https://auth.company.com/application/linkace/.well-known/openid-configuration becomes https://auth.company.com/application/linkace 

SSO_ENABLED=false
REGULAR_LOGIN_DISABLED=false

## Providers:

## Generic
# SSO_OIDC_ENABLED=false
# SSO_OIDC_BASE_URL=
# SSO_OIDC_CLIENT_ID=
# SSO_OIDC_CLIENT_SECRET=
# SSO_OIDC_SCOPES=
# ? SSO_OIDC_VERIFY_JWT=true

## Auth0
# SSO_AUTH0_ENABLED=
# SSO_AUTH0_BASE_URL=
# SSO_AUTH0_CLIENT_ID=
# SSO_AUTH0_CLIENT_SECRET=

## Authentik
# SSO_AUTHENTIK_ENABLED=
# SSO_AUTHENTIK_BASE_URL=
# SSO_AUTHENTIK_CLIENT_ID=
# SSO_AUTHENTIK_CLIENT_SECRET=

## AWS Cognito
# SSO_COGNITO_ENABLED=
# SSO_COGNITO_HOST=
# SSO_COGNITO_CLIENT_ID=
# SSO_COGNITO_CLIENT_SECRET=
# SSO_COGNITO_LOGIN_SCOPE=
# SSO_COGNITO_SIGN_OUT_URL=

## FusionAuth
# SSO_FUSIONAUTH_ENABLED=
# SSO_FUSIONAUTH_BASE_URL=
# SSO_FUSIONAUTH_CLIENT_ID=
# SSO_FUSIONAUTH_CLIENT_SECRET=

## Google
# SSO_GOOGLE_ENABLED=
# SSO_GOOGLE_CLIENT_ID=
# SSO_GOOGLE_CLIENT_SECRET=

## GitHub
# SSO_GITHUB_ENABLED=
# SSO_GITHUB_CLIENT_ID=
# SSO_GITHUB_CLIENT_SECRET=

## GitLab
# SSO_GITLAB_ENABLED=
# SSO_GITLAB_HOST=
# SSO_GITLAB_BASE_URL=
# SSO_GITLAB_CLIENT_ID=
# SSO_GITLAB_CLIENT_SECRET=

## Keycloak
# SSO_KEYCLOAK_ENABLED=
# SSO_KEYCLOAK_BASE_URL=
# SSO_KEYCLOAK_CLIENT_ID=
# SSO_KEYCLOAK_CLIENT_SECRET=
# SSO_KEYCLOAK_REALM=

## Microsoft Azure
# SSO_AZURE_ENABLED=
# SSO_AZURE_CLIENT_ID=
# SSO_AZURE_CLIENT_SECRET=
# SSO_AZURE_TENANT_ID=

## Okta
# SSO_OKTA_ENABLED=
# SSO_OKTA_BASE_URL=
# SSO_OKTA_CLIENT_ID=
# SSO_OKTA_CLIENT_SECRET=

## Zitadel
# SSO_ZITADEL_ENABLED=
# SSO_ZITADEL_CLIENT_ID=
# SSO_ZITADEL_CLIENT_SECRET=
# SSO_ZITADEL_BASE_URL=
# SSO_ZITADEL_ORGANIZATION_ID=
# SSO_ZITADEL_PROJECT_ID=
# SSO_ZITADEL_POST_LOGOUT_REDIRECT_URI='/'